*.DS_Store
bin
target
.classpath
.project
.settings
src/main/webapp/META-INF
.idea
*.iml
src/main/resources/datasource.properties
springIoc.log
uploadfiles/
*.swp
.*.swp
uploadresources/
*.csv
src/main/resources/redis.properties
*.data
*.conf
*.pyc
*.pyo
admin.properties
